# Project 3 Part 2 (Core)

Rodrigo Arguello-Serrano

In [7]:
#Import Modules
import pandas as pd
import numpy as np
import os, time, json

import tmdbsimple as tmdb 
from tqdm.notebook import tqdm_notebook

FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['tmdb_api_results_2010.json',
 'final_tmdb_data_2014.csv.gz',
 '.DS_Store',
 'final_tmdb_data_2016.csv.gz',
 'tmdb_api_results_2011.json',
 'Untitled.ipynb',
 'tmdb_api_results_2016.json',
 'tmdb_api_results_2000.json',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2012.csv.gz',
 'title_akas.csv',
 'tmdb_api_results_2001.json',
 'final_tmdb_data_2010.csv.gz',
 'title_basics.csv.gz',
 'tmdb_api_results_2017.json',
 'tmdb_api_results_2018.json',
 'tmdb_api_results_2014.json',
 'final_tmdb_data_2015.csv.gz',
 'tmdb_api_results_2015.json',
 'final_tmdb_data_2017.csv.gz',
 'final_tmdb_data_2009.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 '.ipynb_checkpoints',
 'final_tmdb_data_2013.csv.gz',
 'tmdb_api_results_2012.json',
 'title_akas.csv.gz',
 'tmdb_results_combined.csv.gz',
 'tmdb_api_results_2009.json',
 'tmdb_api_results_2013.json',
 'final_tmdb_data_2011.csv.gz',
 'title_ratings.csv.gz']

In [8]:
import json
with open('/Users/rodrigoarguelloserrano/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

#import the package and set the API_KEY
tmdb.API_KEY =  login['api-key']

YEARS_TO_GET = [2018,2019]
errors = []

In [9]:
# Open saved file and preview again
basics = pd.read_csv(f"{FOLDER}title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

## Helper Functions

In [10]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [11]:
def get_movie_with_rating(movie_id):
# Get the movie object for the current id
    movie = tmdb.Movies(movie_id)
    # save the .info .releases dictionaries
    info = movie.info()
    releases = movie.releases()
    # Loop through countries in releases
    for c in releases['countries']:
        # if the country abbreviation==US
        if c['iso_3166_1' ] =='US':
            ## save a "certification" key in the info dict with the certification
            info['certification'] = c['certification']
    return info

## 10. Loop Funtion to retrive YEARS with ratings

In [13]:
JSON_FILE

'Data/tmdb_api_results_2018.json'

In [14]:
# Start of OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
    #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)
    # If it does not exist: create it
    if file_exists == False:
    # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)

    #Saving new year as the current df
    df = basics.loc[ basics['startYear']==YEAR].copy()
    # saving movie ids to list
    movie_ids = df['tconst'].copy()
    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)
    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

    #Get index and movie id from list
    # INNER Loop
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        try:
            # Retrieve then data for the movie id
            temp = get_movie_with_rating(movie_id)  
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
            
        except Exception as e:
            errors.append([movie_id, e])

    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

print(f"- Total errors: {len(errors)}")

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

Movies from 2018:   0%|          | 0/5725 [00:00<?, ?it/s]

Movies from 2019:   0%|          | 0/5832 [00:00<?, ?it/s]

- Total errors: 2078

> Testing our function by looping through a list of ids: tt0848228 ("The Avengers") and tt0332280 ("The Notebook")

In [ ]:
test_ids = ["tt0848228", "tt0332280"]
results = []
errors = []
for movie_id in test_ids:
    
    try:
        movie_info = get_movie_with_rating(movie_id)
        results.append(movie_info)
        
    except Exception as e: 
        errors.append([movie_id, e])
    
pd.DataFrame(results)

## 11. Exploratory Data Analysis

### 11.1 Contatening Data from YEARS 2000 and 2001

In [ ]:
data_2000 = pd.read_csv(f"{FOLDER}final_tmdb_data_2000.csv.gz")

In [ ]:
data_2001 = pd.read_csv(f"{FOLDER}final_tmdb_data_2001.csv.gz")

In [ ]:
type(data_2000)

In [ ]:
tmdb_results_combined = pd.concat([data_2000,data_2001])

### 11.2 Save a final merged .csv.gz of all of the tmdb api data: ```tmdb_results_combined.csv.gz```

In [ ]:
# Checking dataframes
tmdb_results_combined.info()

In [ ]:
# Filters
budget_filter = tmdb_results_combined['budget'] > 0
revenue_filter = tmdb_results_combined['revenue'] > 0

In [ ]:
financial_movies_count = tmdb_results_combined[budget_filter & revenue_filter].shape[0]
print(f"There are {financial_movies_count} with relevant financial data.")

### 11.4 How many movies are there in each of the certification categories (G/PG/PG-13/R)?

In [ ]:
financial_movies = tmdb_results_combined[budget_filter & revenue_filter]
financial_movies['certification'].value_counts()

### 11.5 What is the average revenue per certification category?

In [ ]:
financial_movies.groupby('certification')['revenue'].agg(['mean']).style.format('${0:,.2f}')

### 11.6 What is the average budget per certification category?

In [ ]:
financial_movies.groupby('certification')['budget'].agg(['mean']).style.format('${0:,.2f}')